<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee Management System</title>
<h1 align="center" style="color:red;">Employee Management System</h1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/freelancer.min.css}"
	href="../../css/freelancer.min.css" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<script type="text/javascript">

</script>

<body id="page-top" class="index">

	<section id="contact">
		<div class="container">
			<div id="wrapper" style="text-align: center" th:if="${employees.size() != 0}">
				<h3>Employee Details</h3>
				<br />
				<table   class="table table-striped table-hover">
					<tr>
						<th>Employee Id</th>
						<th>Employee Name</th>
						<th>Salary</th>
						<th> </th>
						<th> </th>
					</tr>
					<tr th:each="employee,iterationStatus  : ${employees}">
						<td th:text="${employee.id}"></td>
						<td th:text="${employee.name}"></td>
						<td th:text="${employee.salary}"></td>
						<td>  
						<form method="GET" th:action="@{|/delete/${employee.id}|}" th:object="${employee}">
						<button class="btn btn-danger"><i class="fa fa-trash"></i>
						Delete</button></form> 
       				</td>
       				
       				<td>  
						<form method="POST" th:action="@{|/edit/${employee.id}|}" th:object="${employee}">
						<button class="btn btn-danger"><i class="fa fa-edit" aria-hidden="true"></i>
						Update</button></form> 
       				</td>
					</tr>
				</table>

			</div>
			<div id="wrapper" style="text-align: center" th:if="${employees.size() == 0}">
                <h3>No Employee Found</h3>
            </div>
            <div id="wrapper" style="text-align: center">
                <a th:href="@{/newEmployee}" class="btn btn-success">Add New Employee</a>
            </div>
		</div>
	</section>
	
</body>
</html>
